[Desktop Entry]
Type=Service
Name=PixelForge Pixel Art
MimeType=image/bmp;image/gif;image/jpeg;image/png;image/x-pcx;image/x-tga;image/vnd.microsoft.icon;video/x-flic;image/webp;image/x-pixelforge;
X-KDE-ServiceTypes=ThumbCreator
X-KDE-Library=pixelforgethumbnail
CacheThumbnail=true
ThumbnailerVersion=1
